@import "tailwindcss";
@import "@nuxt/ui";
@import "./initialize.css";
:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  --ui-bg: light-dark(var(--color-light-bg), var(--color-dark-bg));
  --ui-text: light-dark(var(--color-light-tx), var(--color-dark-tx));

  text-underline-offset: 0.3em;

  a:any-link {
    color: light-dark(var(--color-light-or), var(--color-dark-or));
    text-decoration-thickness: 1px;
    
    &:hover {
      color: light-dark(var(--color-light-or-2), var(--color-dark-or-2));
    }
  }
}

.text-primary {
  color: light-dark(var(--color-light-tx), var(--color-dark-tx));
}

.text-secondary {
  color: light-dark(var(--color-light-tx-2), var(--color-dark-tx-2));
}

.prose {
  line-height: calc(var(--spacing) * 8);

  > :where(* + *) {
    margin-block-start: calc(var(--spacing) * 8);
  }
  
  :is(h2,h3) + * {
    margin-block-start: calc(var(--spacing) * 4)
  }

  a:any-link {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}
