@import "tailwindcss";
@import "@nuxt/ui";
@import "./initialize.css";

:root {
  font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  text-underline-offset: 0.3em;
}

* {
  text-decoration-thickness: 1px;
}
